name: SS Config Checker

on:
  schedule:
    - cron: '0 * * * *' # اجرای خودکار سر هر ساعت
  workflow_dispatch: # امکان اجرای دستی

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Run checker
        run: python main.py

      - name: Commit and Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add healthy_ss.txt
          git commit -m "Update healthy configs" || exit 0
          git push
